{% extends "app/layout.html" %}

{% block content %}
<div>
    <h1>Enter URL here. Check below for link.</h1>
</div>
    <form method = "POST" class="post-form">{% csrf_token%}
    {{form.as_p}}
    <button type="submit" class="save btn btn-default">Shorten!</button>
   </form>
<div>
	<h3>Shortened Links</h3>
	<table id="UrlList" class="table table-striped table-centered">
      <thead>
        <tr>
          <th class="header-status">
          </th>
          <th class="header-title">
            <div id="titleBtn" class="" order="asc"><a href="#" onclick="ga('send', 'event', 'title-sort', 'click');">Link</a></div>
          </th>
          <th class="header-ac">
            <div id="acrateBtn" class="" order="asc"><a href="#" onclick="ga('send', 'event', 'acrate-sort', 'click');">Description</a></div>
          </th>
          
          <th class="header-level">
            <div id="levelBtn" class="" order="asc"><a href="#" onclick="ga('send', 'event', 'difficulty-sort', 'click');">Shortened URL</a></div>
          </th>
          <th class="header-level">
            <div id="levelBtn" class="" order="asc"><a href="#" onclick="ga('send', 'event', 'difficulty-sort', 'click');">Creation Time</a></div>
          </th>
              
          </tr>
          </thead>
          {% for url in urls %}
          <tr>
              <td>
                <span class="None"> </span>
              </td>
              <td>{{url.link}}</td>
              <td>{{url.description}}</td>
              <td>
              	<a href="http://{{curr_host_red}}{{url.id}}">{{curr_host_red}}{{url.id}}</a>
              </td>
              <td value="2">{{url.created_date}}</td>
                  
            </tr>
           {% endfor %}
      </table>
</div>
{% endblock %}
